body {
    font-family: 'Source Serif Pro', serif, Arial;
    font-weight: 100;
    margin: 0;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

.top-banner {
    height: 150px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: #218cb6;
}



.top-banner > img {
    width: 200px;
    height: 100px;
    margin-top: 50px;
}


h1 {
    font-size: 40px;
    font-weight: 700;
}



.autorship {
    color: rgb(1, 190, 190);
}



.tim-img{
    height: 600px;
}

.tim-img.first {
    width: 58%;
}

.tim-img.second {
    width: 40%;
}

table {
    width: 100%;
}


th {
    text-align: left;
}


td {
    height: 3em;
}


.row-heading {
    background-color: #4fc4f2;
}


.column-heading {
    width: 10%;
}


.row-data {
    background-color: rgba(38, 203, 240, 0.3);
}


.color-text-grey {
    color: rgb(130, 130, 130);
}


.foto-finale img {
    width: 250px;
    height: 100%;
}

