.top-banner {
    height: 150px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: #218cb6;
}



div > img {
    width: 200px;
    height: 100px;
    margin-top: 50px;
}



.autorship {
    color: rgb(1, 190, 190);
}



div.immagini-tim img{
    width: 900px;
    height: 600px;
}

.immagini-tim {
    margin: auto;
}


table {
    width: 100%;
}


th {
    text-align: left;
}


td {
    height: 3em;
}


.row-heading {
    background-color: #4fc4f2;
}


.column-heading {
    width: 10%;
}


.row-data {
    background-color: rgba(38, 203, 240, 0.3);
}

